# Loading Data Sets
## The Selected data sets
This report integrates to two different Data sets, that are partially correlated. The first on is a collection of weather data from different regions within canada - provided by the Canadian Government. The Data Set is freely available and can be found [here](https://climate.weather.gc.ca/historical_data/search_historic_data_e.html).
The second data set is provided by the AAHC, the Canadian Department of animal and agri-food health. The data set contains information about different kinds of crop and crop insurance related incidents. The data is publicly available and can be found [here](https://open.canada.ca/).

## Loading the crop insurance data set
The first step is to load the crop insurance data set. The data set is provided in a CSV format and can be loaded using the pandas library. It is important to note that the data set is quite large and might take some time to load.
Furthermore, this data set determines which weather stations need to be loaded from the weather data set.

### Data Set Url
The data set can be downloaded from the api provided by the Canadian Government [here](https://data.novascotia.ca/api/views/i5jv-f88u/rows.csv?accessType=DOWNLOAD).


### Certificate Problems
The data set is hosted on a server that does not provide a valid certificate. This can be circumvented by using the `--no-check-certificate` flag when downloading the data set. This is not recommended in a production environment, but for the purpose of this project it is acceptable.
Just in case security concern persist it is recommended to download the data set manually.

### WGET and OS
please be sure you have the import package installed and the WGET setup in the command line. If not please follow the instructions below.
#### WGET with Anaconda
- Open the Anaconda Prompt
- Type `conda install -c anaconda wget`
- environment variable setting for WGET: `set PATH=%PATH%;C:\Program Files\Git\mingw64\bin`
- Test WGET with `wget --version`
#### WGET with Python
- Open the command prompt
- Type `pip install wget`
- environment variable setting for WGET: `set PATH=%PATH%;C:\Program Files\Git\mingw64\bin`
- Test WGET with `wget --version`
#### WGET with Linux
- Open the terminal
- Type `sudo apt-get install wget`
- Test WGET with `wget --version`
#### WGET with Mac
- Open the terminal
- Type `brew install wget`
- Test WGET with `wget --version`
- If you do not have brew installed, please follow the instructions [here](https://brew.sh/)
#### WGET with chocolatey
- Open the command prompt
- Type `choco install wget`
- Test WGET with `wget --version`

In [2]:
# import os
# os.mkdir("/data")
# os.chdir("/data")
#!wget -O crop_insurance.csv https://data.novascotia.ca/api/views/i5jv-f88u/rows.csv?accessType=DOWNLOAD --no-check-certificate
# os.chdir("../")

--2024-08-21 10:02:13--  https://data.novascotia.ca/api/views/i5jv-f88u/rows.csv?accessType=DOWNLOAD
Resolving data.novascotia.ca (data.novascotia.ca)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.novascotia.ca (data.novascotia.ca)|52.206.140.199|:443... connected.
WARNING: cannot verify data.novascotia.ca's certificate, issued by 'CN=GlobalSign GCC R6 AlphaSSL CA 2023,O=GlobalSign nv-sa,C=BE':
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: 'crop_insurance.csv'

     0K ..                                                     1,25G=0s

2024-08-21 10:02:14 (1,25 GB/s) - 'crop_insurance.csv' saved [2808]

### Loading the data set
Now we have the data set installed and moved to a folder called data. We can now load the data set into a pandas data frame. and start inspecting the data set.

In [7]:
import pandas as pd
data_set_insurance = pd.read_csv("../data/crop_insurance.csv")

### Inspecting the data set
The data set contains 1,000,000 rows and 6 columns. The columns are as follows:
- `CROP YEARS` : The year the crop was harvested
- `NUMBER of CONTRACTS` : The number of new contracts
- `TOTAL COVERAGE` : The total coverage for all contracts
- `TOTAL PREMIUM` : The total premium for all contracts
- `CLAIMS PAID` : The total amount of claims paid to the farmers
- `LOSS RATIO` : The ratio of claims paid to the total premium

In [26]:
print(data_set_insurance.columns)
print(data_set_insurance.shape)
print(min(data_set_insurance[data_set_insurance.columns[0]].sort_values()), max(data_set_insurance[data_set_insurance.columns[0]].sort_values()))

Index(['CROP YEARS', 'NUMBER of CONTRACTS', 'TOTAL COVERAGE', 'TOTAL PREMIUM',
       'CLAIMS PAID', 'LOSS RATIO'],
      dtype='object')
(54, 6)
1969-1970 2022-2023

In [23]:
display(data_set_insurance.head())

,CROP YEARS,NUMBER of CONTRACTS,TOTAL COVERAGE,TOTAL PREMIUM,CLAIMS PAID,LOSS RATIO
0,2022-2023,365,90009757.90,3751855.76,2811152.33,0.75
1,2021-2022,357,79439275.04,3352165.32,637708.13,0.19
2,2020-2021,374,58731739.31,2964036.00,1716638.94,0.58
3,2019-2020,352,49942367.70,2132551.81,6309588.37,2.96
4,2018-2019,340,48276173.21,1713732.81,6519214.98,3.80

To add further insights a quick research led to the additional inclusion of the following data set [Estimated areas, yield, production, average farm price and total farm value of principal field crops, in metric and imperial units by statcan]("https://www150.statcan.gc.ca/n1/tbl/csv/32100359-eng.zip")

In [ ]:
# os.chdir("/data")
# !wget -O crop_production.zip https://www150.statcan.gc.ca/n1/tbl/csv/32100359-eng.zip --no-check-certificate  
# os.chdir("../")

In [34]:
data_set_crop_meta = pd.read_csv("../data/crop_data/32100359_MetaData.csv",skiprows=8,header=0)

In [35]:
print(data_set_crop_meta.columns)
print(data_set_crop_meta.shape)

Index(['Dimension ID', 'Member Name', 'Classification Code', 'Member ID',
       'Parent Member ID', 'Terminated', 'Member Notes', 'Member Definitions'],
      dtype='object')
(152, 8)

In [36]:
display(data_set_crop_meta.head())

,Dimension ID,Member Name,Classification Code,Member ID,Parent Member ID,Terminated,Member Notes,Member Definitions
0,1,Maritime provinces,NaN,2,1,t,44,NaN
1,1,Quebec,[24],6,1,NaN,NaN,NaN
2,1,Ontario,[35],7,1,NaN,NaN,NaN
3,1,Prairie provinces,[4],8,1,t,32;44,NaN
4,1,British Columbia,[59],12,1,NaN,NaN,NaN

In [37]:
data_set_crop = pd.read_csv("../data/crop_data/32100359.csv")

C:\Users\data-\AppData\Local\Temp\ipykernel_33968\2019647470.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data_set_crop = pd.read_csv("../data/crop_data/32100359.csv")

### Inspect the crop data set
Now we have a rather complex dataset on hand. We will take a few steps to further inspect the data set. Since we might have gotten a DtypeWarning we will check the data types of the columns.

In [78]:
data_set_crop.dtypes

REF_DATE                 int64
GEO                     object
DGUID                   object
Harvest disposition     object
Type of crop            object
UOM                     object
UOM_ID                   int64
SCALAR_FACTOR           object
SCALAR_ID                int64
VECTOR                  object
COORDINATE              object
VALUE                  float64
STATUS                  object
SYMBOL                  object
TERMINATED              object
DECIMALS                 int64
dtype: object

In [79]:
display(data_set_crop.head())

,REF_DATE,GEO,DGUID,Harvest disposition,Type of crop,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1908,Canada,2021A000011124,Seeded area (acres),Barley,Acres,28,units,0,v46457,1.1.6,1745700.0,nan,nan,nan,0
1,1908,Canada,2021A000011124,Seeded area (acres),"Beans, all dry (white and coloured)",Acres,28,units,0,v54532262,1.1.39,59900.0,nan,nan,nan,0
2,1908,Canada,2021A000011124,Seeded area (acres),"Beans, dry white",Acres,28,units,0,v54532263,1.1.40,NaN,..,nan,nan,0
3,1908,Canada,2021A000011124,Seeded area (acres),"Beans, dry coloured",Acres,28,units,0,v54532264,1.1.41,NaN,..,nan,nan,0
4,1908,Canada,2021A000011124,Seeded area (acres),Borage seed,Acres,28,units,0,v54529215,1.1.37,NaN,..,nan,t,0

Since we now know that the Dtypes that were tagged as mixed types are actually strings, we can convert them to the correct type.

In [81]:
print(data_set_crop.columns)
print(data_set_crop.shape)
print(min(data_set_crop[data_set_crop.columns[0]].sort_values()), max(data_set_crop[data_set_crop.columns[0]].sort_values()))

Index(['REF_DATE', 'GEO', 'DGUID', 'Harvest disposition', 'Type of crop',
       'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
       'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')
(383497, 16)
1908 2024

### Reducing the data frame to the relevant years
since the second data set contains a lot more date, we will reduce the years of focus to the time frame set by the first data set.

In [114]:
print("Insurance Data Set - Time Frame: from", min(data_set_insurance[data_set_insurance.columns[0]].sort_values()),"to", max(data_set_insurance[data_set_insurance.columns[0]].sort_values()))
print("Crop Data Set - Time Frame: from", min(data_set_crop[data_set_crop.columns[0]].sort_values()),"to", max(data_set_crop[data_set_crop.columns[0]].sort_values()))

Insurance Data Set - Time Frame: from 1969-1970 to 2022-2023
Crop Data Set - Time Frame: from 1908 to 2024

In [87]:
start_date = min(data_set_insurance[data_set_insurance.columns[0]].sort_values()).split("-")[0]
print("Start Date:", start_date)
end_date = max(data_set_insurance[data_set_insurance.columns[0]].sort_values()).split("-")[0]
print("End Date:", end_date)

Start Date: 1969
End Date: 2022

In [120]:
data_set_crop_mod = data_set_crop.where(data_set_crop[data_set_crop.columns[0]]>=int(start_date)).dropna()
data_set_crop_mod = data_set_crop_mod.where(data_set_crop_mod[data_set_crop.columns[0]]<=int(end_date)).dropna()

print("Crop Data Set - Time Frame: from", min(data_set_crop_mod[data_set_crop_mod.columns[0]].sort_values()),"to", max(data_set_crop_mod[data_set_crop_mod.columns[0]].sort_values()))
print(data_set_crop_mod[data_set_crop_mod.columns[0]].sort_values().unique())

print("Insurance Data Set - Time Frame: from", min(data_set_insurance[data_set_insurance.columns[0]].sort_values()),"to", max(data_set_insurance[data_set_insurance.columns[0]].sort_values()))
print(sorted([int(date.split("-")[0]) for date in data_set_insurance[data_set_insurance.columns[0]]]))

Crop Data Set - Time Frame: from 1969.0 to 2022.0
[1969. 1970. 1971. 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980.
 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992.
 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003. 2004.
 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015. 2016.
 2017. 2018. 2019. 2020. 2021. 2022.]
Insurance Data Set - Time Frame: from 1969-1970 to 2022-2023
[1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]